/admin/testReadUserActivityJson/nbproject/private/
/admin/testReadUserActivityJson/build/
/admin/RedditUserProfile/nbproject/private/
/admin/RedditUserProfile/build/
/admin/RedditUserProfile/dist/
/admin/testReadUserActivityJson/dist/
